<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Citrix.Optimizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="OSoptimizer.OSoptimizerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="OSoptimizer.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>

	<appSettings>
		<add key="EnginePath" value="." />
		<add key="PredefinedTemplates" value="Templates" />
		<add key="TmpTemplatesFolder" value="CTXOE.tmp" />
		<add key="MarketplaceDirectory" value="Marketplace" />
		<add key="Marketplaces" value="https://ctxsupptools.citrix.com/citrixoptimizer/citrixmarketplace.xml|https://github.com/ryancbutler/Citrix_Optimizer_Community_Template_Marketplace/releases/latest/download/communitymarketplace.xml" />
		<add key="RecentTemplates" value="" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="4.0.0.0" newVersion="4.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<userSettings>
		<Citrix.Optimizer.Properties.Settings>
			<setting name="DisableUpdateNotification" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DisableAutoScanTemplatesUpdate" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DisableSendDataToGA" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DisableFindPreferredTemplateFromMarketplace" serializeAs="String">
				<value>False</value>
			</setting>
		</Citrix.Optimizer.Properties.Settings>
	</userSettings>

	<system.diagnostics>
		<sources>
			<source name="__TRACE__">
				<listeners>
					<clear />
					<add type="Citrix.Optimizer.Utilities.FormattedTextWriterTraceListener, CitrixOptimizerTool" name="textListener" initializeData="CitrixOptimizerTool.log" traceOutputOptions="ThreadId, DateTime">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
					</add>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="global" value="Error" />
		</switches>
	</system.diagnostics>
</configuration>
